MYSQL_DATABASE=auth_db
MYSQL_USER=auth_user
MYSQL_PASSWORD=change-this-auth-password
MYSQL_ROOT_PASSWORD=change-this-root-password
AUTH_MYSQL_PORT=3307

AUTH_DB_URL=jdbc:mysql://localhost:3307/auth_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
AUTH_DB_USERNAME=auth_user
AUTH_DB_PASSWORD=change-this-auth-password

AUTH_JWT_ISSUER=auth-service
AUTH_JWT_PRIVATE_KEY=
AUTH_JWT_PUBLIC_KEY=
AUTH_JWT_DEFAULT_TOKEN_TTL_SECONDS=900
AUTH_INTERNAL_API_KEY=change-this-internal-api-key
